<?xml version="1.0" encoding="utf-8"?>
<manifest package="com.studio.artaban.leclassico"
          xmlns:android="http://schemas.android.com/apk/res/android">

    <!-- Features -->
    <uses-feature
        android:name="android.hardware.telephony"
        android:required="false"/>

    <!-- Screens -->
    <supports-screens
        android:largeScreens="true"
        android:normalScreens="true"
        android:smallScreens="false"
        android:xlargeScreens="true"/>

    <!-- Permissions -->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="com.studio.artaban.permission.LECLASSICO_SERVICE"/>

    <!-- Application -->
    <application
        android:name=".LeClassicoApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/MainAppTheme">

        <!-- Activities -->
        <activity
            android:name=".IntroActivity"
            android:theme="@style/IntroAppTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity
            android:name=".main.MainActivity"
            android:label="@string/app_name"
            android:parentActivityName=".IntroActivity"
            android:theme="@style/MainAppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.studio.artaban.leclassico.IntroActivity"/>
        </activity>

        <!-- Content providers -->
        <provider
            android:name=".data.DataProvider"
            android:authorities="com.studio.artaban.provider.leclassico"/>

        <!-- Services -->
        <service
            android:name=".connection.DataService"
            android:enabled="true"
            android:exported="true"
            android:permission="com.studio.artaban.permission.LECLASSICO_SERVICE">
        </service>

        <!-- Receivers -->
        <receiver android:name=".helpers.Internet$ConnectivityReceiver">
            <intent-filter>
                <action android:name="android.net.conn.CONNECTIVITY_CHANGE"/>
            </intent-filter>
        </receiver>
    </application>

</manifest>
